.app_navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem 2rem;
}

.navbar_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

