@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');


:root {
--color-golden: #DCCA87;
--color-black: #0C0C0C;
--color-gray: #545454;
--color-crimson: #F5EFDB;
--color-grey: #AAAAAA;
--color-white: #FFFFFF;
}


* {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}